<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="DSD Category"
            id="com.asu.score.hackslash">
      </category>
      <view
            name="DSD Task View"
            icon="icons/sample.gif"
            category="com.asu.score.hackslash"
            class="com.asu.score.hackslash.views.TaskView"
            id="com.asu.score.hackslash.views.TaskView">
      </view>
      <view
            category="com.asu.score.hackslash"
            class="com.asu.score.hackslash.views.UsersView"
            icon="icons/sample.gif"
            id="com.asu.score.hackslash.views.UsersView"
            name="Users View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.asu.score.hackslash.views.TaskView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.asu.score.hackslash.views.UsersView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.asu.score.hackslash.actionSet"
            label="DSD Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="hackSlash">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="com.asu.score.hackslash.actions.DSDAction"
               icon="icons/sample.gif"
               id="com.asu.score.hackslash.actions.DSDAction"
               label="&amp;Login to DSD"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>

</plugin>
